
    <div class="card ">
        {% if recipe.cover %}
        <a class="text-decoration-none pointer"href="{{recipe.get_absolute_url}}">
            <img class="card-img-top " src="{{recipe.cover.url}}" alt="Card image cap">
        </a>
        {% endif %}
        <div class="card-body">
            <a class="text-decoration-none" href="{% url 'recipes:detail' recipe.slug %}">
                <h5 class="card-title color-title">
                    {{recipe.title}}
                </h5>
            </a>
            
          
            <span class="mr-2"> 
                {% if recipe.author is not None %}
                    <i class="fas fa-user"></i>
                    {% if recipe.author.first_name %} 
                        {{recipe.author.first_name}} {{recipe.author.last_name}}
                    {% else %}
                        {{recipe.author.username}}
                    {% endif %}
                {% else %}
                    <i class="fas fa-user"></i> Desconhecido
                {%endif%}
                    
            </span>
            <br>
            <span> 
                <i class="fas fa-calendar-alt"></i>
                {{ recipe.created_at|date:"SHORT_DATE_FORMAT" }} ás {{ recipe.created_at|time:"H:i" }}
            </span>
            <br>
           <span>
             <a href="">
                <i class="fas fa-layer-group"></i>
                {{recipe.category.title}}
             </a>
           </span>
           <div class="card-content mt-1 py-0">
                <p class="py-0">
                    {{recipe.description}}
                </p>
           </div>
       
        </div>
        <div>
            <div class="d-flex justify-content-around py-2" style="background-color: #bdbdbd ">
                <div class="d-flex flex-column align-items-center">
                     <h5 class="">
                         <i class="fas fa-stopwatch"></i> Preparo
                     </h5>
                     <span class="">15 minutos</span>
                </div>
                <div class="d-flex flex-column align-items-center">
                     <h5 class="">
                         <i class="fas fa-pizza-slice"></i> Porções
                     </h5>
                    <span class="">10 pessoas</span>
                </div>
            </div>
        </div>
        {% if is_detail_page is not True %}
            <footer class="bg-dark d-flex align-center justify-content-center py-2" >
                <a class="text-white text-decoration-none" href="">
                    <i class="fas fa-eye"></i>
                    <span class="ml-2">ver mais...</span>
                </a>
            </footer>
        {% endif %}
        {% if is_detail_page is True %}
            <div class="container py-3">
                {% if recipe.preparation_steps_is_html is True %}
                    {{recipe.preparation_steps|safe}}
                {% else %}
                    {{recipe.preparation_steps|linebreaksbr}}
                {% endif %}
            </div>
        {% endif %}
</div>
      
