<footer style="height: 80px;" class="footer bg-dark d-flex mt-5">
    <nav class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand font-roboto text-white" href="{% url 'recipes:home'%}">
            <i class="fas fa-utensils main-logo-icon"></i>
            Receitas</a>
            <a class="navbar-brand font-roboto text-white" href="{% url 'recipes:home'%}">
                <i class="fas fa-utensils main-logo-icon"></i>
            Receitas</a>
    </nav>
</footer>