
{% extends 'global/base.html'%}
{% load static %}
{% block title %}
Dashboard
{% endblock %}

{% block content %}

        <h2 class="text-center my-4" >Dashboard ({{user}})</h2>

        {% include 'global/partials/messages.html' %}
    
        <h3 class="text-left my-4">Your recipes</h3>
        <div class="table-responsive">
            <table class="table table-striped table-dark">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Data de criação</th>
                <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                <tr>
                    <th scope="row">{{recipe.id}}</th>
                    <td>{{recipe.title |truncatechars:15 }}</td>
                    <td>  {{ recipe.created_at|date:"SHORT_DATE_FORMAT" }} ás {{ recipe.created_at|time:"H:i" }}</td>
                    <td> 
                        <div class="d-flex flex-nowrap">
                            <a href="{% url 'authors:recipe_edit' recipe.id %}" type="button" class="btn btn-success mr-2" >Editar</a> 
                            <form id="form-delete" class="form-delete ml-2 " action="{% url 'authors:recipe_delete'%}" method="post">
                                {% csrf_token %}
                                <input required type="hidden" name="id" value="{{ recipe.id}}">
                                <button type="submit" class="btn btn-danger">Deletar</button> 
                            </form>
                            
                        </div>
                    </td>
                </tr>
                {% endfor %}
              
            </tbody>
            </table>
        </div>
{% endblock content %}

{% block script_extras %}
<script src="{% static 'global/js/recipe_delete.js' %}"></script>
{% endblock script_extras %}

