:root {
    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;
    --color-title: #212529;

    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;

}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font-primary);
}  

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
}
p{
    padding: 0px !important;
}
#container{
    min-height: calc(100vh - 200px);
}

.font-roboto{
    font-family: var(--font-headings);
}
.color-title{
    color: var(--color-title);
    
}
.search{
    max-width: 600px;
}
.search-input{
    border-radius: .25rem 0rem 0rem .25rem;
}
.btn-search {
    border-radius: 0rem .25rem .25rem 0rem;
}

.text-decoration-none{
    text-decoration:none !important;
}

.card-image{
   width:300px;
   height:300px;
}


/* Forms */
.form-content {
    max-width: 50rem;
    margin: 0 auto;
    margin-bottom: var(--spacing-gutter-medium);
}

.form-content label,
.form-content .help-text,
.errorlist {
    display: block;
    margin: 0.3rem 0;
    font-size: 1rem;
    list-style-type: none;
}

.errorlist {
    color: var(--color-error-dark);
}

.form-content input, textarea, select {
    width: 100%;
    padding: 0.4rem;
    border-radius: 0.2rem;
    font-size: 0.9rem;
    border: 1px solid var(--color-primary-dark);
}

.form-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--spacing-gutter-medium) / 2) var(--spacing-gutter-medium);
}

.form-content button {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.2rem;
    background: var(--color-primary-dark);
    color: var(--color-white);
}

.span-2{
    grid-column: span 2;
}

.form-container{
    max-width: 750px;
    margin: 0 auto;
    margin-bottom:50px;
    padding: 1rem;
}

@media (max-width: 600px) {
   
    .form-content-grid {
        display: block;
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}