:root {
    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}       

.font-roboto{
    font-family: var(--font-headings);
}
.search{
    max-width: 600px;
}
.search-input{
    border-radius: .25rem 0rem 0rem .25rem;
}
.btn-search {
    border-radius: 0rem .25rem .25rem 0rem;
}